<button (click)="openFlyOver()">Open Flyover</button>

<div>
  <app-parent></app-parent>
  <div>
<app-flyover>
  @if(flyOverState.componentName === 'componentOne'){
    <app-component-one></app-component-one>
  }
  @if(flyOverState.componentName === 'componentTwo'){
    <app-component-two></app-component-two>
  }
 <!-- <app-component-one *ngIf="flyOverState.componentName === 'componentOne'"></app-component-one>
 <app-component-two *ngIf="flyOverState.componentName === 'componentTwo'"></app-component-two> -->
</app-flyover>
</div>
</div>